<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sample_app.com, <%= @user.name %></h1>
    <p>
      Thank you for creating an account! Click the url below to activate your account!<br/>

      <a href="<%= @account_activation_url %>"> <%= @account_activation_url %></a> <br/>

      If the above URL does not work try copying and pasting it into your browser.If you continue to have problem, please feel free to contact us.<br/>
    </p>
  
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>